{%- set title = _("About") %}
{%- extends config.kerko.templates.layout %}

{%- block navbar_items %}
    {% for item in config.kerko_composer.link_groups.navbar.get_ordered_links() %}
    <li class="nav-item {% if item.url == "/about" %}active{% endif %}">
        <a class="nav-link" href="{{ item.url }}" {% if item.new_window %}target="_blank" rel="noopener"{% endif %}>{{ item.text }}</a>
    </li>
    {% endfor %}
{%- endblock navbar_items %}

{# This empty block removes the h1 title from the page, thereby using README title. #}
{%- block content_header %}
{%- endblock content_header %}

{%- block content_inner %}
    <h2>About</h2>
    <div class="card px-3 pt-3">
        <p><a href="https://phds.io">PhDs.io</a> is a platform created to support research students and academics as they navigate the vast and sometimes overwhelming body of literature in the fields of finance, accounting, and related areas. Our goal is simple: <strong>to make high-quality research more accessible and easier to explore</strong>.</p>

        <p>This project is developed by Dr. <a href="https://mingze-gao.com">Mingze Gao</a> from the Department of Applied Finance at Macquarie Business School, initiated when he was a postdoctoral research fellow at the University of Sydney Business School.

        <p>At PhDs.io, we have committed ourselves to carefully collecting, cleaning, and organizing references from reputable sources. We aim to provide a streamlined experience for users who are looking to deepen their knowledge, explore new areas of research, or simply stay up to date with the latest advancements.</p>

        <p>Whether you're a PhD student at the beginning of your academic journey or an established scholar, we hope you find this site to be a helpful companion. The path of research can be challenging, and we’re here to offer a bit of support along the way.</p>

        <p><a href="https://mingze-gao.com/posts/phds.io/">Read more about PhDs.io here in my blog post.</a></p>
    </div>

    <h3>Maintainers</h3>
    <div class="card px-3 pt-3">
        <p>This site is collectively maintained by:</p>

        <ol>
        <li><a href="https://mingze-gao.com">Mingze (Adrian) Gao</a>, Macquarie University.</li>
        <li>Haocheng (James) Xu, University of Iowa.</li>
        <li><a href="https://www.nhh.no/en/employees/faculty/jun-he/">Jun He</a>, NHH Norwegian School of Economics.</li>
        </ol>

        <p><em><strong>If you would like to join this effort, please kindly let me know.</strong></em></p>
    </div>

    <h3>Technology</h3>
    <div class="card px-3 pt-3">
        <p><a href="https://phds.io">PhDs.io</a> is built with <a href="https://github.com/whiskyechobravo/kerkoapp">KerkoApp</a>, a web application that uses <a href="https://github.com/whiskyechobravo/kerko">Kerko</a> to provide a user-friendly search and browsing interface for sharing a bibliography managed with the <a href="https://www.zotero.org/">Zotero</a> reference manager.</p>

        <p>KerkoApp is built in <a href="https://www.python.org/">Python</a> with the <a href="https://pypi.org/project/Flask/">Flask</a> framework. It is just a thin container around Kerko and, as such, inherits most of its features directly from Kerko. However, it adds support for <a href="https://toml.io/">TOML</a> configuration files, allowing a good separation of configuration from code.</p>

        <p>To ensure fair use of the platform, <strong>we impose rate limits and temporary IP blocking for users who exceed reasonable access patterns</strong>. These measures are in place to prevent misuse and maintain the quality of service for all users.</p>
    </div>

    <h3>Copyright</h3>
    <div class="card px-3 pt-3">
        <p>The research papers and other materials featured on this site remain the intellectual property of their respective authors and publishers. PhDs.io merely collects and organizes publicly available information to assist researchers in navigating the literature. We do not host or distribute the full-text versions of any papers without the appropriate permissions.</p>
    </div>

    <h3>Support</h3>
    <div class="card px-3 pt-3">
        <p>PhDs.io is currently financially supported by Dr. Mingze Gao, ensuring the platform remains free and accessible to the research community. As we continue to grow and enhance the platform, we welcome contributions from individuals or organizations who share our vision of supporting research and education.</p>
    </div>

    <h3>Contact</h3>
    <div class="card px-3 pt-3">
        <p>Please contact Mingze (Adrian) Gao via <a href="mailto:mingze.gao@mq.edu.au">mingze.gao@mq.edu.au</a>.</p>
    </div>
{%- endblock content_inner %}
