{% extends "kerko/base.html.jinja2" %}

{%- block head %}
    {{- super() }}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:logo" content="{{ url_for('static', filename='images/logo-color.png') }}">
    <meta property="og:image" content="{{ url_for('static', filename='images/og-color.png') }}">
    <meta property="og:title" content="{{ config.open_graph.og_title | default('PhDs.io') }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PhDs.io">
    <meta property="og:url" content="https://phds.io">
    <meta property="og:description" content="{{ config.open_graph.og_description | default('A fast literature search engine.') }}">
{%- endblock head %}
