{% extends "kerko/item.html.jinja2" %}

{% set oa_tag = {'tag': config.custom.open_access_tag} %}
{% set oa_tag_type1 = {'tag': config.custom.open_access_tag, 'type': 1} %}
{% set oa_tag_type2 = {'tag': config.custom.open_access_tag, 'type': 2} %}
{% set show_oa = (oa_tag in item.data.tags or oa_tag_type1 in item.data.tags or oa_tag_type2 in item.data.tags) and config.custom.show_open_access %}

{%- block item_actions %}
    {%- with show_download_link = (config.kerko.features.download_item and config.kerko_composer.bib_formats) %}
        {%- if item.attachments or show_download_link or config.kerko.features.print_item or config.kerko.features.open_in_zotero_app or config.kerko.features.open_in_zotero_web %}
            <div class="row my-2">
                <div class="col-auto ml-auto text-right">
                {%- if show_oa or config.custom.show_document %}
                    {%- if item.attachments|length > 1 %}
                        <div class="{% block attachment_links_wrapper_classes %}d-inline-block d-print-none mb-2{% endblock %}">
                            <div class="dropdown">
                                <button class="{% block attachment_links_btn_classes %}btn btn-primary dropdown-toggle{% endblock %}" type="button" id="attachment-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-file" aria-hidden="true"></span> {{ _('Read documents') -}}
                                </button>
                                <div class="dropdown-menu dropdown-menu-right dropdown-width-300" aria-labelledby="attachment-options">
                                    {%- for attachment in item.attachments %}
                                        <a class="dropdown-item" href="{{ url_for('kerko.child_attachment_download', item_id=item.id, attachment_id=attachment['id'], attachment_filename=attachment['data']['filename']) }}"{% if config.kerko.features.download_attachment_new_window %} target="_blank"{% endif %}>
                                            {{- attachment['data']['filename']|escape }}
                                        </a>
                                    {%- endfor %}
                                </div>
                            </div>
                        </div>
                    {%- elif item.attachments|length == 1 %}
                        <div class="{% block attachment_link_wrapper_classes %}d-inline-block d-print-none mb-2{% endblock %}">
                            <a class="{% block attachment_link_btn_classes %}btn btn-primary{% endblock %}" href="{{ url_for('kerko.child_attachment_download', item_id=item.id, attachment_id=item.attachments[0]['id'], attachment_filename=item.attachments[0]['data']['filename']) }}"{% if config.kerko.features.download_attachment_new_window %} target="_blank"{% endif %} {{ title_aria_label(_('Read \'{}\'').format(item.attachments[0]['data']['filename']|escape)) }}>
                                <span class="fas fa-file" aria-hidden="true"></span> {{ _('Read document') -}}
                            </a>
                        </div>
                    {%- endif %}
                {%- endif %}

                    {%- if config.kerko.features.print_item %}
                        <div class="{% block print_link_wrapper_classes %}d-none d-md-inline-block d-print-none mb-2{% endblock %}">
                            <button id="print-link" class="{% block print_btn_classes %}btn btn-light{% endblock %}" type="button">
                                <span class="fas fa-print" aria-hidden="true"></span> {{ _('Print this record') }}
                            </button>
                        </div>
                    {%- endif %}
                    {%- if show_download_link %}
                        <div class="{% block download_link_wrapper_classes %}d-inline-block d-print-none mb-2{% endblock %}">
                            <div class="dropdown">
                                <button class="{% block download_btn_classes %}btn btn-light dropdown-toggle{% endblock %}" type="button" id="download-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="fas fa-download" aria-hidden="true"></span> {% trans count=1, count_formatted='1' %}Download this record{% pluralize %}Download {{ count_formatted }} records{% endtrans -%} {# TODO: Remove pluralization after solving issue where translation is not loaded when the same message is sometimes pluralized, sometimes not. -#}
                                </button>
                                <div class="dropdown-menu dropdown-menu-right dropdown-width-300" aria-labelledby="download-options">
                                    {%- for bib_format in config.kerko_composer.get_ordered_specs('bib_formats') %}
                                        <a class="dropdown-item" href="{{ url_for('kerko.item_bib_download', item_id=item.id, bib_format_key=bib_format.key) }}" rel="alternate" type="{{ bib_format.mime_type|escape }}" {{ title_aria_label(_('Download in {download_option} format').format(download_option=bib_format.label|escape)) }}>
                                            {{- bib_format.label -}}
                                        </a>
                                        <p class="px-4 text-muted">{{ bib_format.help_text }}</p>
                                    {%- endfor %}
                                </div>
                            </div>
                        </div>
                    {%- endif %}
                    {%- if config.kerko.features.open_in_zotero_app and open_in_zotero_app_url %}
                        <div id="open-in-zotero-app" class="text-right d-inline-block d-print-none mb-2 {% if not open_in_zotero_app %}d-none-important{% endif %}">
                            <a class="btn btn-light" href="{{ open_in_zotero_app_url }}"><span class="fas fa-external-link-alt" aria-hidden="true"></span> {{ _("Open in Zotero") }}</a>
                        </div>
                    {%- endif %}
                    {%- if config.kerko.features.open_in_zotero_web and open_in_zotero_web_url %}
                        <div id="open-in-zotero-web" class="text-right d-inline-block d-print-none mb-2 {% if not open_in_zotero_web %}d-none-important{% endif %}">
                            <a class="btn btn-light" href="{{ open_in_zotero_web_url }}" target="_blank"><span class="fas fa-external-link-alt" aria-hidden="true"></span> {{ _("View on zotero.org") }}</a>
                        </div>
                    {%- endif %}
                </div>
            </div>
        {%- endif %}
    {%- endwith %}
{%- endblock item_actions %}

{%- block item_field_attachments %}
    {%- if show_oa or config.custom.show_document %}
        {{- super() }}
    {%- endif %}
{%- endblock item_field_attachments %}