{% extends "kerko/layout.html.jinja2" %}

{%- block styles %}
    {{- super() }}
    {%- block phdsio_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {%- endblock phdsio_css %}
{%- endblock styles %}

{%- block navbar_content %}
    <div id="navbar-content" class="collapse navbar-collapse">
        <ul class="navbar-nav font-weight-normal">
            {%- block navbar_items %}
                {{- super() }}
            {%- endblock navbar_items %}
        </ul>
    </div>
{%- endblock navbar_content %}

{%- block header_inner %}
    {%- if config.custom.show_macquarie_logo %}
        {%- block phdsio_header %}
        <div class="container d-print-none">
            <div class="header-phdsio pt-2 pb-2 d-flex flex-column flex-md-row justify-content-between">
                <a href="https://www.mq.edu.au/" title="Macquarie University">
                    <img src="{{ url_for('static', filename='images/MQ-logo-transparent.png') }}" height="66" alt="Logo of Macquarie University">
                </a>
                <a class="d-none d-md-block" href="https://www.mq.edu.au/macquarie-business-school" title="Macquarie Business School">
                    <img src="{{ url_for('static', filename='images/MQBS-logo-transparent.png') }}"  height="66" alt="Logo of Macquarie Business School">
                </a>
            </div>
        </div>
        {%- endblock phdsio_header %}
    {%- endif %}
    {{- super() }}
{%- endblock header_inner %}

{%- block footer_inner %}
    <div class="text-center pt-3 pb-3">
        {{ _('{site} is developed by {adrian} from {mqbs}, powered by {zotero} and {kerko}.').format(
            site='<a href="/">PhDs.io</a>',
            adrian='<a href="https://mingze-gao.com">Mingze Gao</a>',
            mqbs='<a href="https://www.mq.edu.au/macquarie-business-school">Macquarie Business School</a>',
            zotero='<a href="https://zotero.org">Zotero</a>',
            kerko='<a href="https://github.com/whiskyechobravo/kerko">Kerko</a>'
            ) }}
    </div>
{%- endblock footer_inner %}