{% extends "kerko/search.html.jinja2" %}

{% set title = "" %}

{%- block search_results_list %}
    <ul class="mb-4 list-unstyled {% if print_preview %}search-print-preview{% endif %}">
        {%- for result, result_url in search_results %}
            <div class="card px-3 py-2">
                {%- include "kerkoapp/_search-result.html.jinja2" %}
            </div>
        {%- endfor %}
    </ul>
{%- endblock search_results_list %}